In [13]:
import pandas as pd

filmes = pd.read_csv("movies.csv")
filmes.columns = ["filmeID", "titulo", "generos"]
filmes = filmes.set_index("filmeID")
filmes.head ()

                                     titulo                                      generos
filmeID
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [5]:
notas = pd.read_csv("ratings.csv")
notas.columns = ["usuarioID", "filmeID", "notas", "momento"]
notas.head()

   usuarioID  filmeID  notas    momento
0          1        1    4.0  964982703
1          1        3    4.0  964981247
2          1        6    4.0  964982224
3          1       47    5.0  964983815
4          1       50    5.0  964982931

In [6]:
notas.describe()

           usuarioID        filmeID          notas       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

# **Primeira tentativa de recomendação**

In [16]:
totalVotos = notas["filmeID"].value_counts()
totalVotos.head()

356     329
318     317
296     307
593     279
2571    278
Name: filmeID, dtype: int64

In [17]:
filmes['totalVotos'] = totalVotos
filmes.head()

                                     titulo  ... totalVotos
filmeID                                      ...
1                          Toy Story (1995)  ...      215.0
2                            Jumanji (1995)  ...      110.0
3                   Grumpier Old Men (1995)  ...       52.0
4                  Waiting to Exhale (1995)  ...        7.0
5        Father of the Bride Part II (1995)  ...       49.0

[5 rows x 3 columns]

In [21]:
#indicando os filmes a partir do total de votos e visualizações
filmes.sort_values("totalVotos", ascending= False).head()

                                   titulo  ... totalVotos
filmeID                                    ...
356                   Forrest Gump (1994)  ...      329.0
318      Shawshank Redemption, The (1994)  ...      317.0
296                   Pulp Fiction (1994)  ...      307.0
593      Silence of the Lambs, The (1991)  ...      279.0
2571                   Matrix, The (1999)  ...      278.0

[5 rows x 3 columns]